*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 10px auto;
  border: 2px solid;
  padding: 10px 10px 10px 20px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-weight: bold;
}

.separator {
  height: 18px;
  border: 1px solid;
}

.book-list_container {
  text-align: center;
  padding: 2rem;
  display: none;
}

#book-list {
  border: 2px solid black;
  margin: 0 auto;
  width: 60%;
  padding: 0;
  text-align: left;
  font-weight: bolder;
}

h1 {
  margin: 50px 0 40px 0;
  font-weight: bolder;
  font-size: 2.5rem;
}

tr {
  border: none;
  height: 2rem;
}

td {
  padding-top: 6px;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

tr:nth-child(even) {
  background-color: white;
}

.form_container {
  text-align: center;
  width: 40%;
  margin: auto;
  display: none;
}

form {
  margin-top: 90px;
}

.form_container h2,
.contact-title {
  font-size: 3rem;
  font-weight: bolder;
  margin-top: 50px;
}

input {
  width: 100%;
  margin: 20px;
  height: 2.5rem;
  font: 900;
  border: 2px solid;
  padding-left: 10px;
  font-weight: bolder;
}

input::placeholder {
  color: black;
  font-weight: bolder;
  padding-left: 10px;
}

form button {
  float: right;
  padding: 6px 20px;
  border: 3px solid;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 3px;
}

table button {
  float: right;
  margin-right: 15px;
  border: 3px solid;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 3px;
}

.divider {
  width: 100px;
  border: 1px solid;
  margin: 20px auto;
}

.contact {
  width: 50%;
  margin: auto;
  display: none;
}

.contact-list {
  font-size: 1.5rem;
  font-weight: bolder;
  padding-left: 100px;
}

.contact-paragraph {
  margin: 100px 0 40px 0;
  font-weight: bolder;
  font-size: 1.5rem;
}

footer {
  position: fixed;
  bottom: 5px;
  left: 2.5%;
  font-weight: bold;
  text-align: center;
  width: 95%;
  margin: 10px auto;
  border: 2px solid;
  padding: 10px 10px 10px 20px;
}

.display {
  display: block;
}
